@model DetailedReservationVM

@{
    ViewData["Title"] = "Confirm rental";
}

<h1>Confirm rental</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmRental">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="KeyReceiptTime" class="control-label"></label>
                <input asp-for="KeyReceiptTime" class="form-control" type="time" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="KeyReturnTime" class="control-label"></label>
                <input asp-for="KeyReturnTime" class="form-control" type="time" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="RentalPointCar.RentalPoint.Address" class="control-label"></label>
                <input asp-for="RentalPointCar.RentalPoint.Address" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="RentalPointCar.CarName" class="control-label"></label>
                <input asp-for="RentalPointCar.CarName" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
